In [1]:
import pandas as pd

In [2]:
cosmetics=pd.read_csv('cosmetics.csv')

In [3]:
cosmetics2=pd.read_csv('cosmetics2.csv')

C:\Users\epoh2\AppData\Local\Temp\ipykernel_9792\3223388771.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  cosmetics2=pd.read_csv('cosmetics2.csv')

In [4]:
cosmetics3=pd.read_csv('cosmetics3.csv')

In [5]:
cosmetics2.head(1)

,Product Id,Company,Brand,Product Name,Variant,Product Discontinued Date,Product Submitted Date,Ingredient Name,Function,Unit of Measure,Concentration,Ingredient Submitted Date,Ingredient Removed Date,UPC,Body Area,Product Category,Product Form,Intended Market
0,18358,Nail Alliance - Entity,Entity Nudite,Cool Pink Nail Sculpting Powder,NaN,NaN,6/24/2019,Titanium dioxide (CI 77891) 13463-67-7 / 1317-...,NaN,mg/g,5,6/24/2019,NaN,Not Available,Nails,Artificial Nails and Related Products,Powder,Not Available

In [6]:
cosmetics.head(1)

,Label,Brand,Name,Price,Rank,Ingredients,Combination,Dry,Normal,Oily,Sensitive
0,Moisturizer,LA MER,Crème de la Mer,175,4.1,"Algae (Seaweed) Extract, Mineral Oil, Petrolat...",1,1,1,1,1

In [7]:
cosmetics3.head(1)

,CDPHId,ProductName,CSFId,CSF,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,SubCategoryId,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
0,2,ULTRA COLOR RICH EXTRA PLUMP LIPSTICK-ALL SHADES,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),53,...,13463-67-7,6,Titanium dioxide,06/17/2009,08/28/2013,02/01/2011,07/09/2009,07/09/2009,NaN,1

Top 5 most common chemicals in cosmetics

In [48]:
cosmetics3['ChemicalName'].value_counts().head(5)

ChemicalName
Titanium dioxide                                                                                       93480
Silica, crystalline (airborne particles of respirable size)                                             2817
Retinol/retinyl esters, when in daily dosages in excess of 10,000 IU, or 3,000 retinol equivalents.     2154
Mica                                                                                                    1919
Butylated hydroxyanisole                                                                                1888
Name: count, dtype: int64

In [55]:
cosmetics3['CompanyName'].value_counts()

CompanyName
L'Oreal USA                            5747
S+                                     5165
Coty                                   5162
Revlon Consumer Product Corporation    4341
Bare Escentuals Beauty, Inc.           3828
                                       ...
Hada S.A.                                 1
LES SALONS DU PALAIS ROYAL SHISEIDO       1
Tupperware U.S., Inc.                     1
OSEA Malibu                               1
Turquise Global LLC                       1
Name: count, Length: 606, dtype: int64

In [57]:
cosmetics3.loc[cosmetics3['CompanyName'] == 'S+']

,CDPHId,ProductName,CSFId,CSF,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,SubCategoryId,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
20062,5088,NECTAR SHINE HYDRATING CARE LIPGLOSS SPF8,11756.0,01- Gingre Shine,198,S+,Sephora,44,Makeup Products (non-permanent),52,...,13463-67-7,8856,Titanium dioxide,10/15/2009,12/30/2010,NaN,10/15/2009,10/15/2009,NaN,1
20063,5088,NECTAR SHINE HYDRATING CARE LIPGLOSS SPF8,11757.0,02- Litchi Shine,198,S+,Sephora,44,Makeup Products (non-permanent),52,...,13463-67-7,8856,Titanium dioxide,10/15/2009,12/30/2010,NaN,10/15/2009,10/15/2009,NaN,1
20064,5088,NECTAR SHINE HYDRATING CARE LIPGLOSS SPF8,11758.0,03- Peach Shine,198,S+,Sephora,44,Makeup Products (non-permanent),52,...,13463-67-7,8856,Titanium dioxide,10/15/2009,12/30/2010,NaN,10/15/2009,10/15/2009,NaN,1
20065,5088,NECTAR SHINE HYDRATING CARE LIPGLOSS SPF8,11759.0,04 - Mango Shine,198,S+,Sephora,44,Makeup Products (non-permanent),52,...,13463-67-7,8856,Titanium dioxide,10/15/2009,12/30/2010,NaN,10/15/2009,10/15/2009,NaN,1
20066,5088,NECTAR SHINE HYDRATING CARE LIPGLOSS SPF8,11760.0,05- Passion Shine,198,S+,Sephora,44,Makeup Products (non-permanent),52,...,13463-67-7,8856,Titanium dioxide,10/15/2009,12/30/2010,NaN,10/15/2009,10/15/2009,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114340,41419,SEPHORA - WILD WISHES - MAKEUP PALETTE,64850.0,Eye pencil,198,S+,SEPHORA,44,Makeup Products (non-permanent),49,...,12001-26-2,67840,Mica,04/22/2020,04/24/2020,NaN,04/24/2020,04/24/2020,NaN,3
114341,41419,SEPHORA - WILD WISHES - MAKEUP PALETTE,64850.0,Eye pencil,198,S+,SEPHORA,44,Makeup Products (non-permanent),52,...,13463-67-7,67830,Titanium dioxide,04/22/2020,04/24/2020,NaN,04/22/2020,04/24/2020,NaN,3
114342,41419,SEPHORA - WILD WISHES - MAKEUP PALETTE,64850.0,Eye pencil,198,S+,SEPHORA,44,Makeup Products (non-permanent),52,...,14807-96-6,67831,Talc,04/22/2020,04/24/2020,NaN,04/22/2020,04/22/2020,NaN,3
114343,41419,SEPHORA - WILD WISHES - MAKEUP PALETTE,64850.0,Eye pencil,198,S+,SEPHORA,44,Makeup Products (non-permanent),52,...,108-88-3,67839,Toluene,04/22/2020,04/24/2020,NaN,04/24/2020,04/24/2020,04/24/2020,3
114344,41419,SEPHORA - WILD WISHES - MAKEUP PALETTE,64850.0,Eye pencil,198,S+,SEPHORA,44,Makeup Products (non-permanent),52,...,12001-26-2,67840,Mica,04/22/2020,04/24/2020,NaN,04/24/2020,04/24/2020,NaN,3

In [8]:
cosmetics=cosmetics.drop(columns = ['Rank'])

In [9]:
cosmetics2=cosmetics2.drop(columns =['Product Id','Variant','Product Discontinued Date', 'Product Submitted Date','Function','Unit of Measure','Concentration','Ingredient Submitted Date', 'Ingredient Removed Date','UPC','Intended Market'])

In [10]:
cosmetics4=cosmetics3.drop(columns = ['CDPHId','CSFId','CSF','CompanyId','PrimaryCategoryId','SubCategoryId','CasNumber','ChemicalId','InitialDateReported','MostRecentDateReported','DiscontinuedDate','ChemicalCreatedAt','ChemicalCount','ChemicalDateRemoved'])

In [11]:
cosmetics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Label        1472 non-null   object
 1   Brand        1472 non-null   object
 2   Name         1472 non-null   object
 3   Price        1472 non-null   int64
 4   Ingredients  1472 non-null   object
 5   Combination  1472 non-null   int64
 6   Dry          1472 non-null   int64
 7   Normal       1472 non-null   int64
 8   Oily         1472 non-null   int64
 9   Sensitive    1472 non-null   int64
dtypes: int64(6), object(4)
memory usage: 115.1+ KB

In [12]:
cosmetics.isna().sum()

Label          0
Brand          0
Name           0
Price          0
Ingredients    0
Combination    0
Dry            0
Normal         0
Oily           0
Sensitive      0
dtype: int64

In [13]:
cosmetics['Brand'].value_counts

<bound method IndexOpsMixin.value_counts of 0                              LA MER
1                               SK-II
2                      DRUNK ELEPHANT
3                              LA MER
4                        IT COSMETICS
                    ...
1467                           KORRES
1468                  KATE SOMERVILLE
1469                    VITA LIBERATA
1470    ST. TROPEZ TANNING ESSENTIALS
1471                       DERMAFLASH
Name: Brand, Length: 1472, dtype: object>

In [14]:
cosmetics['Label'].value_counts()

Label
Moisturizer    298
Cleanser       281
Face Mask      266
Treatment      248
Eye cream      209
Sun protect    170
Name: count, dtype: int64

In [15]:
cosmetics2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851402 entries, 0 to 851401
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Company           851402 non-null  object
 1   Brand             851162 non-null  object
 2   Product Name      851402 non-null  object
 3   Ingredient Name   851402 non-null  object
 4   Body Area         844399 non-null  object
 5   Product Category  851402 non-null  object
 6   Product Form      840129 non-null  object
dtypes: object(7)
memory usage: 45.5+ MB

In [16]:
cosmetics2.isna().sum()

Company                 0
Brand                 240
Product Name            0
Ingredient Name         0
Body Area            7003
Product Category        0
Product Form        11273
dtype: int64

In [17]:
cosmetics2['Brand'].value_counts()

Brand
Bath & Body Works                63192
Victoria's Secret Beauty         22633
GIORGIO ARMANI                   22616
The White Company                16006
Lancome                          13622
                                 ...
Rite Aid Sensitive Toothpaste        1
CANDY COLOR                          1
RITUELS BOTAN. BODY                  1
Calvin Klein Man                     1
 Entity Nudite                       1
Name: count, Length: 3744, dtype: int64

In [18]:
cosmetics3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114635 entries, 0 to 114634
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CDPHId                  114635 non-null  int64
 1   ProductName             114635 non-null  object
 2   CSFId                   80662 non-null   float64
 3   CSF                     80237 non-null   object
 4   CompanyId               114635 non-null  int64
 5   CompanyName             114635 non-null  object
 6   BrandName               114408 non-null  object
 7   PrimaryCategoryId       114635 non-null  int64
 8   PrimaryCategory         114635 non-null  object
 9   SubCategoryId           114635 non-null  int64
 10  SubCategory             114635 non-null  object
 11  CasId                   114635 non-null  int64
 12  CasNumber               108159 non-null  object
 13  ChemicalId              114635 non-null  int64
 14  ChemicalName            114635 non-null  object
 15  InitialDateReported     114635 non-null  object
 16  MostRecentDateReported  114635 non-null  object
 17  DiscontinuedDate        12920 non-null   object
 18  ChemicalCreatedAt       114635 non-null  object
 19  ChemicalUpdatedAt       114635 non-null  object
 20  ChemicalDateRemoved     2985 non-null    object
 21  ChemicalCount           114635 non-null  int64
dtypes: float64(1), int64(7), object(14)
memory usage: 19.2+ MB

In [19]:
cosmetics3.isna().sum()

CDPHId                         0
ProductName                    0
CSFId                      33973
CSF                        34398
CompanyId                      0
CompanyName                    0
BrandName                    227
PrimaryCategoryId              0
PrimaryCategory                0
SubCategoryId                  0
SubCategory                    0
CasId                          0
CasNumber                   6476
ChemicalId                     0
ChemicalName                   0
InitialDateReported            0
MostRecentDateReported         0
DiscontinuedDate          101715
ChemicalCreatedAt              0
ChemicalUpdatedAt              0
ChemicalDateRemoved       111650
ChemicalCount                  0
dtype: int64

In [20]:
cosmetics3['BrandName'].value_counts()

BrandName
SEPHORA               3394
NYX                   3227
bareMinerals          3158
Charlotte Tilbury     2453
Revlon                2335
                      ...
Ayur SPF 30              1
Sears                    1
53 Elegant Rubin         1
Yoanna Warm Sunset       1
Ruby Kisses              1
Name: count, Length: 2713, dtype: int64

In [21]:
cosmetics3['BrandName'].unique()

array(['AVON', "Glover's", 'OPI', ..., 'sulwhasoo ', 'HAIR FOOD',
       'YANBAL'], dtype=object)